/coverage
/node_modules
/build
/dist
info.log
access.log
exceptions.log
*.log
.idea/
.env
*.*~
/config/deployment.yml
/config/production.yml
/config/development.yml
ecosystem.config.js
/config/deployment.json
/config/production.json
/config/development.json
/config/test.json
/config/key
/config/key.pub
/config/jwt.pem
/config/jwt.pub
/config/aws_config.json